@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar {
    background-color: #082f49;
    color: whitesmoke;
    fill: whitesmoke;
    height: 100vh;
}

ul {
    list-style-type: none;
}

.sidebar-menu-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    gap: 5%;
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}


.sidebar-top-menu, .sidebar-bottom-menu {
    margin-left: 15%;
    margin-top: 40%;
}