/* div {
    border-style: solid;
    border-width: 1px;
} */

ul {
    list-style: none;
}

body {
    height: 100%;
}

.container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 20% 90%;
}

.sidemenu {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 5fr, 2fr;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
}

.menutop {
    margin-top: 20%;
    grid-area: 2 / 1 / 3 / 2;
}
.menubottom {
    margin-top: 20%;
    grid-area: 3 / 1 / 4 / 2;
}

.topnav {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    
}



.maincontent {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;
}
